# Files left out of the release zip (git archive honours export-ignore).
/tests            export-ignore
/docs             export-ignore
/bin              export-ignore
/.github          export-ignore
/.gitignore       export-ignore
/.gitattributes   export-ignore
